<div>
<h2> List Book</h2>
<a style="float: right;" class="btn btn-primary" routerLink="add">Add</a>

</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of listBook; index as index">
      <th scope="row">{{ index }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.description }}</td>
      <td>
        <div class="row">
          <a class="btn col-4" [routerLink]="[book.id, 'detail']">
            <i class="fas fa-info"></i>
          </a>
          <a class="btn col-4" [routerLink]="[book.id, 'delete']">
            <i class="far fa-trash-alt"></i>
          </a>
          <a class="btn col-4" [routerLink]="[book.id, 'edit']">
            <i class="far fa-edit"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
