<form *ngIf = 'bookById' [formGroup] = 'bookForm' (ngSubmit) = 'edit()'>
  <h3>Edit book</h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" formControlName = 'title'>
  </div>
  <div
    *ngIf="bookForm.get('title').invalid && bookForm.get('title').touched"
    style="color: red;"
  >
    Title is required and min length is 10
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Author</label>
    <input type="text" class="form-control" formControlName = 'author'>
  </div>
  <div
    *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched"
    style="color: red;"
  >
    Author is required and min length is 10
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" rows="5" formControlName = 'description'></textarea>
  </div>
  <div
    *ngIf="bookForm.get('description').invalid && bookForm.get('description').touched"
    style="color: red;"
  >
  Description is required and min length is 100
  </div>
  <button type="submit" class="btn btn-primary" [disabled] = 'bookForm.invalid'>Submit</button>
  <button class="btn btn-secondary" (click) = 'cancel()'>Cancle</button>
</form>
